<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body style="background-color:powderblue">
<h1 style="text-align:center">USER REGISTRATION FORM</h1>
<form action="register" method="post">
    {% csrf_token %}
    <input type ="text" name="username" placeholder="Enter ur Username"><br>
    <input type ="text" name="first_name" placeholder="Enter ur First Name"><br>
    <input type ="text" name="last_name" placeholder="Enter ur Last Name"><br>
    <input type ="email" name="email" placeholder="Enter ur Email Address"><br>
    <input type ="password" name="password" placeholder="Enter ur Password"><br>
    <input type ="password" name="cpassword" placeholder="Enter ur Password Again"><br>
    <input type ="submit" >
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>